
.protyle-wysiwyg div[data-node-id][data-type="NodeHeading"] {
    color: var(--b3-theme-secondary);
}

.protyle-wysiwyg div[data-node-id][data-subtype="h1"] {
    color: var(--b3-theme-on-background);
    font-weight: 300;
    font-size: 2.5em;
}

.protyle-wysiwyg [data-subtype="h3"],
.protyle-wysiwyg [data-subtype="h4"] {
    font-weight: 500;
}

.protyle-wysiwyg [data-subtype="h5"],
.protyle-wysiwyg [data-subtype="h6"] {
    font-weight: 300;
}
