.protyle-title {
    background-color: var(--b3-theme-background-grey);
    border-radius: 0px;
}

.protyle-title>div[contenteditable] {
    color: var(--b3-theme-on-background-grey);
    text-align: center;
}
